@model List<Genre>
@{
    Layout = "_Layout";
}


    <h1>Home/About</h1>

    @section menu
    {
        @*         @await Html.PartialAsync("_menu",Model)

        *@
        
            @await Component.InvokeAsync("GenreViewComponents")

    }