@model MovieApp.Web.Models.Movie
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Home/About</h1>
    our mission is @Model.misyon
</div>
</body>
</html>