
@model HomePageViewModel

@section header
{
   @await Html.PartialAsync( "_header")

}
@section scripts
{
   <script src="js/script.js"></script>
}
 
<div >
    <h1> Film bilgileri</h1>
    @foreach (var movie in Model.PopularMovies)
    {
        @await Html.PartialAsync("_movie",movie)

    }
</div>
