
@model Movie

@section header
{
   @await Html.PartialAsync( "_header")

}
@section scripts
{
   <script src="js/script.js"></script>
}
 
<div >
    <h1> Film bilgileri</h1>
    @await Html.PartialAsync("_movie",Model)
</div>
